<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Crear Nuevo Grupo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div layout:fragment="content">
        <h1 class="mb-4">Crear Nuevo Grupo</h1>

        <form th:action="@{/Grupos/save}" th:object="${grupo}" method="post">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del grupo" required>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <textarea class="form-control" th:field="*{descripcion}" id="descripcion" rows="4" placeholder="Escriba una descripción del grupo" required></textarea>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-start" style="gap: 2rem;">
                <button type="submit" class="btn btn-primary ">Guardar</button> |
                <a th:href="@{/Grupos}" class="btn btn-secondary ">Regresar</a>
            </div>
        </form>
    </div>
</div>


</body>
</html>
